[Unit]
Description=trackermon service

[Service]
Type=Forking
User=root
ExecStart=/usr/sbin/trackermon start
ExecReload=/usr/sbin/trackermon reload
Restart=on-abort
[Install]
WantedBy=multi-user.target